{% extends "base.html" %}
{% load staticfiles %}
{% load isimantags %}
{% block title %} IsiMan | Clusters {% endblock %}
{% block content %}
<div class="row">
{% for cluster in clusters %}
{% if cluster.status == "OK" %}
<a href="/clusters/{{ cluster.name|lower }}">
  <div class="col-sm-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <img src="{% static "isiman/images/isiloncluster.png" %}" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
{% elif cluster.status == "ATTN" %}
<a href="/clusters/{{ cluster.name|lower }}">
  <div class="col-sm-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
      {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-warning fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <img src="{% static "isiman/images/isiloncluster.png" %}" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
{% elif cluster.status == "OFFLINE" %}
<a href="/clusters/{{ cluster.name|lower }}">
  <div class="col-sm-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
      {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-times fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <img src="{% static "isiman/images/isiloncluster.png" %}" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
{% else %}
<a href="/clusters/{{ cluster.name|lower }}">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <img src="{% static "isiman/images/isiloncluster.png" %}" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
{% endif %}
{% endfor %}
</div>
{% endblock %}