{% extends "base.html" %}
{% load isimantags %}
{% block title %} IsiMan | Overview {% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
  <a href="/clusters/">
    {% with "ATTN"|clusterstatuscount as clustersattn %}
    {% with "OFFLINE"|clusterstatuscount as clustersdown %}
    {% if clustersdown > 0 and clustersattn > 0 %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Clusters status</p>
            <i class="fa fa-times fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ clustersattn|sum:clustersdown }}
            </p>
            {% with clustersattn|sum:clustersdown as total %}
            <p class="announcement-text">{{ clusters.count|sub:total }} healthy</p>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    {% elif clustersdown > 0 %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Clusters status</p>
            <i class="fa fa-times fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ clustersattn|sum:clustersdown }}
            </p>
            {% with clustersattn|sum:clustersdown as total %}
            <p class="announcement-text">{{ clusters.count|sub:total }} healthy</p>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    {% elif clustersattn > 0 %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Clusters status</p>
            <i class="fa fa-warning fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ clustersattn|sum:clustersdown }}
            </p>
            {% with clustersattn|sum:clustersdown as total %}
            <p class="announcement-text">{{ clusters.count|sub:total }} healthy</p>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Clusters status</p>
            <i class="fa fa-check fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ clusters.count }}
            </p>
            <p class="announcement-text">Healthy</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/events/">
    {% with "E"|eventseveritycount as emergency %}
    {% with "C"|eventseveritycount as critical %}
    {% with "W"|eventseveritycount as warning %}
    {% with "I"|eventseveritycount as information %}
    {% with critical|sum:emergency as critevents %}
    {% if critevents %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Events</p>
            <i class="fa fa-warning fa-4x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ critevents }}
          </p>
          <p class="announcement-text">Critical events</p>
        </div>
        </div>
      </div>
    </div>
    {% elif warning %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Events</p>
            <i class="fa fa-warning fa-4x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ warning }}
          </p>
          <p class="announcement-text">Warn events</p>
        </div>
        </div>
      </div>
    </div>
    {% elif information %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Events</p>
            <i class="fa fa-info-circle fa-4x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ information }}
          </p>
          <p class="announcement-text">Info events</p>
        </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Events</p>
            <i class="fa fa-check fa-4x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            0
          </p>
          <p class="announcement-text">Events</p>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/jobs/">
    {% with "Running"|jobstatecount as jobsrunning %}
    {% with "Waiting"|jobstatecount as jobswaiting %}
    {% with "User Paused"|jobstatecount as jobsuser %}
    {% with "System Paused"|jobstatecount as jobssystem %}
    {% with "Policy Paused"|jobstatecount as jobspolicy %}
    {% with jobsuser|sum:jobssystem as jobsusersystem %}
    {% with jobspolicy|sum:jobswaiting as jobspolicywaiting %}
    {% with jobsusersystem|sum:jobspolicywaiting as totaljobspaused %}
    {% if jobsrunning %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Jobs</p>
            <i class="fa fa-cog fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading-medium">
            {{ jobsrunning }}
            </p>
            <p class="announcement-text">Job(s) running</p>
            <p class="announcement-text">{{ totaljobspaused }} waiting</p>
          </div>
        </div>
      </div>
      {% elif jobswaiting %}
      <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Jobs</p>
            <i class="fa fa-pause fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading-medium">
            {{ jobswaiting }}
            </p>
            <p class="announcement-text">Job(s) waiting</p>
            <p class="announcement-text">{{ totaljobspaused }} paused</p>
          </div>
        </div>
      </div>
      {% elif totaljobspaused %}
      <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Jobs</p>
            <i class="fa fa-pause fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ totaljobspaused }}
            </p>
            <p class="announcement-text">Job(s) paused</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Jobs</p>
            <i class="fa fa-check fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            0
            </p>
            <p class="announcement-text">Running</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
    </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="#">
    {% with 1|clustersdelayed as delayed %}
    {% if delayed %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Delayed</p>
            <i class="fa fa-clock-o fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ 1|clustersdelayed }}
            </p>
            <!-- <p class="announcement-text">Delayed</p> -->
            <p class="announcement-text">{{ clusters.count|sub:delayed }} updated</p>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Delayed</p>
            <i class="fa fa-clock-o fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ 1|clustersdelayed }}
            </p>
            <p class="announcement-text">{{ clusters.count|sub:delayed }} updated</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div id="totalspacegraph" style="height:300px;"></div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div id="smartpoolgraph" style="height:300px;"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Clusters Summary</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tr>
          <th>Cluster</th>
          <th>Version</th>
          <th>Nodes</th>
          <th>Status</th>
        </tr>
        <tbody>
          {% for cluster in clusters %}
          {% if cluster.status == "ATTN" %}
          <tr class="warning" style="cursor: pointer;" onclick="document.location = '/clusters/{{ cluster.name|lower }}';">
            <td><strong>{{ cluster.name }}</strong></td>
            <td>{{ cluster.version }}</td>
            <td>{{ cluster.nodes_set.count }}</td>
            <td>{{ cluster.status }}</td>
          </tr>
          {% elif cluster.status == "OFFLINE" %}
          <tr class="danger" style="cursor: pointer;" onclick="document.location = '/clusters/{{ cluster.name|lower }}';">
            <td><strong>{{ cluster.name }}</strong></td>
            <td>{{ cluster.version }}</td>
            <td>{{ cluster.nodes_set.count }}</td>
            <td>{{ cluster.status }}</td>
          </tr>
          {% else %}
          <tr style="cursor: pointer;" onclick="document.location = '/clusters/{{ cluster.name|lower }}';">
            <td>{{ cluster.name }}</td>
            <td>{{ cluster.version }}</td>
            <td>{{ cluster.nodes_set.count }}</td>
            <td>{{ cluster.status }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nodes by cluster</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tr>
          <th>Cluster</th>
          {% for model in models %}
          <th>{{ model }}</th>
          {% endfor %}
        </tr>
        <tbody>
          {% for cluster in clusters %}
          <tr style="cursor: pointer;" onclick="document.location = '/clusters/{{ cluster.name|lower }}/#nodes';">
            <td>{{ cluster.name }}</td>
            {% for model in models %}
            <td>{{ cluster|clusternodes_bymodel:model }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nodes by Model</h3>
      </div>
      <ul class="list-group">
      {% for model in models %}
        <li class="list-group-item">
          <span class="badge">{{ model|nodesbymodel }}</span>
          {{ model }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% block script %}
<script type="text/javascript" charset="utf-8">
function bytes(bytes, label) {
  if (bytes == 0) return '';
    var s = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB'];
    var e = Math.floor(Math.log(bytes)/Math.log(1024));
    var value = ((bytes/Math.pow(1024, Math.floor(e))).toFixed(2));
    e = (e<0) ? (-e) : e;
  if (label) value += ' ' + s[e];
    return value;
};
$(function () {
  $(document).ready(function () {
    $('#totalspacegraph').highcharts({
      chart: {
        type: 'pie',
      },
      credits: {
        enabled: false
      },
      title: {
        text: 'Total Space'
      },
      legend: {
        align: 'center',
          labelFormatter: function() {
            return this.name + ': ' + bytes(this.y, true);
        },
      },
      tooltip: {
        enabled: true,
        formatter: function() { return ' ' +
          this.point.name + ': ' + bytes(this.y, true) + '<br/>(' + this.point.percent + '%)';
        }
      },
      plotOptions: {
        pie: {
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          },
          showInLegend: true,
        },
      },
      series: [{
        data: [
          {
            name: 'Used',
            y: {{ smartpools_hdd_used.total }},
            percent: {{ smartpools_hdd_used.total|percentage:smartpools_hdd_size.total }},
            color: '#FFAC62',
            legendIndex: 2
          },
          {
            name: 'Avail',
            {% with smartpools_hdd_size.total|sub:smartpools_hdd_used.total as smartpools_hdd_avail %}
            y: {{ smartpools_hdd_size.total|sub:smartpools_hdd_used.total }},
            percent: {{ smartpools_hdd_avail|percentage:smartpools_hdd_size.total }},
            color: '#59955C',
            legendIndex: 1
            {% endwith %}
          },
        ]
      }]
    });
  });
});
$(function () {
  $(document).ready(function () {
    $('#smartpoolgraph').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'SmartPools'
      },
      credits: {
        enabled: false
      },
      xAxis: {
        categories: [
        {% for cluster in clusters %}
          '{{ cluster.name }}',
        {% endfor %}
        ],
        labels: {
          rotation: -25,
          style: {
            fontSize: '10px',
          }
        },
      },
      plotOptions: {
        series: {
          cursor: 'pointer',
          point: {
            events: {
              click: function() {
                location.href = this.options.url.toLowerCase();
              }
            }
          }
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: '% Used Space',
        },
      },
      tooltip: {
        enabled: true,
        formatter: function() { return ' ' +
          '% Used: ' + this.y + '%' + '<br />' + 'Used: ' + bytes(this.point.percent, true) + '<br />' +   '<br />' + 'Size: ' + bytes(this.point.totalsize, true);
        }
      },
      series: [{
        name: 'HDD',
        color: '#005D9C',
        data: [
          {% for cluster in clusters %}
          {
          {% with cluster|clusterhddused as hddused %}
          {% with cluster|clusterhddsize as hddsize %}
            y: {{ hddused|percentage:hddsize }},
            percent: {{ hddused }},
            totalsize: {{ hddsize }},
            url: '/clusters/{{ cluster.name }}'
          {% endwith %}
          {% endwith %}
          },
          {% endfor %}
          ]
        }]
      });
    });
  });
</script>
{% endblock %}
{% endblock %}