{% extends "base.html" %}
{% load staticfiles %}
{% load isimantags %}
{% block title %} IsiMan | {{ cluster.name }} {% endblock %}
{% block content %}
<div class="row">
  {% if cluster.status == "OK" %}
  <div class="col-sm-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <a href="http://{{ cluster.address }}" target="_blank"><img src="{% static "isiman/images/isiloncluster.png" %}" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% elif cluster.status == "ATTN" %}
  <div class="col-sm-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
      {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-warning fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <a href="http://{{ cluster.address }}" target="_blank"><img src="{% static "isiman/images/isiloncluster.png" %}" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% elif cluster.status == "OFFLINE" %}
  <div class="col-sm-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
      {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-times fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <a href="http://{{ cluster.address }}" target="_blank"><img src="{% static "isiman/images/isiloncluster.png" %}" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ cluster.name }}
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <a href="http://{{ cluster.address }}" target="_blank"><img src="{% static "isiman/images/isiloncluster.png" %}" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-sm-3">
  <a href="#nodes" data-toggle="tab">
    {% with "ATTN"|nodestatuscount:cluster as nodesattn %}
    {% with "DOWN"|nodestatuscount:cluster as nodesdown %}
    {% with "SMARTFAILED"|nodestatuscount:cluster as nodessmartfailed %}
    {% with "READ_ONLY"|nodestatuscount:cluster as nodesreadonly %}
    {% if nodesdown > 0 %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Nodes status</p>
            <i class="fa fa-times fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ nodesdown }}
            </p>
            <p class="announcement-text">{{ cluster.nodes_set.all.count|sub:nodesdown }} healthy</p>
          </div>
        </div>
      </div>
    </div>
    {% elif nodesattn > 0 %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Nodes status</p>
            <i class="fa fa-warning fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ nodesattn }}
            </p>
            <p class="announcement-text">{{ cluster.nodes_set.all.count|sub:nodesattn }} healthy</p>
          </div>
        </div>
      </div>
    </div>
    {% elif nodessmartfailed > 0 %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Nodes Status</p>
            <i class="fa fa-gears fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ nodessmartfailed }}
            </p>
            <p class="announcement-text">{{ cluster.nodes_set.all.count|sub:nodessmartfailed }} healthy</p>
          </div>
        </div>
      </div>
    </div>
    {% elif nodesreadonly > 0 %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <p>Nodes Status</p>
            <i class="fa fa-shield fa-4x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ nodesreadonly }}
            </p>
            <p class="announcement-text">{{ cluster.nodes_set.all.count|sub:nodesreadonly }} healthy</p>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-sm-6 text-right">
            <p class="announcement-heading">
            {{ cluster.nodes_set.all.count }}
            </p>
            <p class="announcement-text">Nodes healthy</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </a>
  </div>
  <div class="col-sm-3">
    <a href="#events" data-toggle="tab">
    {% with cluster|clusterevent_byseverity:"E" as emergency %}
    {% with cluster|clusterevent_byseverity:"C" as critical %}
    {% with cluster|clusterevent_byseverity:"W" as warning %}
    {% with cluster|clusterevent_byseverity:"I" as information %}
    {% with critical|sum:emergency as criticalevents %}
    {% if criticalevents %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-warning fa-5x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ criticalevents }}
          </p>
          <p class="announcement-text">Critical events</p>
        </div>
        </div>
      </div>
    </div>
    {% elif warning %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-warning fa-5x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ warning }}
          </p>
          <p class="announcement-text">Warn events</p>
        </div>
        </div>
      </div>
    </div>
    {% elif information %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-info-circle fa-5x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ information }}
          </p>
          <p class="announcement-text">Info events</p>
        </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ cluster.events_set.all.count }}
          </p>
          <p class="announcement-text">Events</p>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </a>
  </div>
  <div class="col-sm-3">
    <a href="#jobs" data-toggle="tab">
    {% with cluster|clusterjobs_bystate:"Running" as running %}
    {% with cluster|clusterjobs_bystate:"Waiting" as waiting %}
    {% with cluster|clusterjobs_bystate:"System Paused" as system %}
    {% with cluster|clusterjobs_bystate:"Policy Paused" as policy %}
    {% with cluster|clusterjobs_bystate:"User Paused" as user %}
    {% with user|sum:system as usersystem %}
    {% with policy|sum:waiting as policywaiting %}
    {% with usersystem|sum:policywaiting as totalpaused %}
    {% if running %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-cog fa-5x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading-medium">
            {{ running }}
          </p>
          <p class="announcement-text">Job(s) running</p>
          <p class="announcement-text">{{ totalpaused|sum:waiting }} waiting</p>
        </div>
        </div>
      </div>
    </div>
    {% elif waiting %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-pause fa-4x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading-medium">
            {{ waiting }}
          </p>
          <p class="announcement-text">Job(s) waiting</p>
          <p class="announcement-text">{{ totalpaused }} paused</p>
        </div>
        </div>
      </div>
    </div>
    {% elif totalpaused %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-pause fa-4x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ totalpaused }}
          </p>
          <p class="announcement-text">Job(s) paused</p>
        </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
        <div class="col-sm-6 text-right">
          <p class="announcement-heading">
            {{ cluster.jobs_set.all.count }}
          </p>
          <p class="announcement-text">Jobs Running</p>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    </a>
  </div>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
  <li><a data-toggle="tab" href="#nodes">Nodes</a></li>
  <li><a data-toggle="tab" href="#jobs">Jobs</a></li>
  <li><a data-toggle="tab" href="#events">Events</a></li>
  <li><a data-toggle="tab" href="#snapshot">Snapshots</a></li>
</ul>
<div class="tab-content">
  <div id="summary" class="tab-pane fade in active">
    <div class="row">
    <h3></h3>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div id="cpugraph" style="height:280px;"></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div id="totalspacegraph" style="height:280px;"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div id="smartpoolgraph" style="height:280px;"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Snapshots consumption</h3>
          </div>
          {% if snapshots_bydate %}
          <table class="table table-condensed table-hover">
            <tr>
              <th>Date</th>
              <th>Count</th>
              <th>Total Size</th>
            </tr>
            <tbody>
            {% for date in snapshots_bydate %}
              <tr>
                <td>{{ date }}</td>
                <td>{{ cluster|snapcount_bydate:date }}</td>
                <td>{{ cluster|snapsize_bydate:date|filesizeformat }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>There are no Snapshots available</p>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div id="clientconngraph" style="height:280px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="nodes" class="tab-pane fade">
    <h3></h3>
    {% if cluster.nodes_set.count %}
    <div class="dataTables_wrapper form-inline table-responsive" role="grid">
    <table class="table table-condensed table-hover" id="nodesdatatables">
      <thead>
        <tr>
          <th>Node</th>
          <th>IP Address</th>
          <th>LNN</th>
          <th>Status</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Service Light</th>
          <th>Last update</th>
        </tr>
      </thead>
      <tbody>
          {% for node in cluster.nodes_set.all %}
          <tr>
            <td>{{ node.name }}</td>
            <td>{{ node.ipaddress }}</td>
            <td>{{ node.lnn }}</td>
            {% ifequal node.status "OK" %}
            <td class="success">{{ node.status }}</td>
            {% endifequal %}
            {% ifequal node.status "ATTN" %}
            <td class="warning">{{ node.status }}</td>
            {% endifequal %}
            {% ifequal node.status "DOWN" %}
            <td class="danger">{{ node.status }}</td>
            {% endifequal %}
            {% ifequal node.status "SMARTFAILED" %}
            <td class="warning">{{ node.status }}</td>
            {% endifequal %}
            {% ifequal node.status "READ_ONLY" %}
            <td class="info">{{ node.status }}</td>
            {% endifequal %}
            <td>{{ node.model }}</td>
            <td>{{ node.serial }}</td>
            <td><u><a href="#">Turn On</a></u> | <u><a href="#">Turn Off</a></u></td>
            <td>{{ node.modified_at|age }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="jumbotron">
    <h2>Nodes are not available</h2>
  </div>
  {% endif %}
  </div>
  <div id="jobs" class="tab-pane fade">
  <h3></h3>
  {% if cluster.jobs_set.all %}
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Job</th>
            <th>State</th>
            <th>Prio</th>
            <th>Policy</th>
            <th>Progress</th>
            <th></th>
            <th>Elapsed time</th>
            <th>Last update</th>
          </tr>
        </thead>
        <tbody>
            {% for job in cluster.jobs_set.all %}
            <tr>
              <td><strong>{{ job.name }}</strong></td>
              {% ifequal job.state "Running" %}
              <td class="success text-center"><img src="{% static "isiman/images/Information.gif" %}"></td>
              {% else %}
              <td class="warning text-center"><img src="{% static "isiman/images/Warning.gif" %}"></td>
              {% endifequal %}
              <td class="text-center">{{ job.priority }}</td>
              <td>{{ job.policy }}</td>
              <td width="35%">{{ job.progress }}</td>
              <td width="5%">
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" disabled="true">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Pause</a></li>
                    <li><a href="#">Update</a></li>
                    <li><a href="#">Cancel</a></li>
                  </ul>
                </div>
              </td>
              <td width="10%">{{ job.running_time }}</td>
              <td width="10%">{{ job.modified_at|age }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="jumbotron">
      <h2>There are no Jobs ongoing</h2>
    </div>
    {% endif %}
  </div>
  <div id="events" class="tab-pane fade">
  <h3></h3>
  {% if cluster.events_set.all %}
    <div class="dataTables_wrapper form-inline table-responsive" role="grid">
    <table class="table table-condensed table-hover" id="eventsdatatables">
        <thead>
          <tr>
            <th>ID</th>
            <th>Start Time</th>
            <th>Sev</th>
            <th>Message</th>
            <th>Node</th>
            <th></th>
            <th>Last update</th>
          </tr>
        </thead>
        <tbody>
          {% for event in cluster.events_set.all %}
          <tr>
            <td width="5%">{{ event.event_id }}</td>
            <td width="11%">{{ event.start_time|date:"d/m H:i:s" }}</td>
            {% ifequal event.severity "E" %}
            <td class="danger text-center" width="3%"><img src="{% static "isiman/images/Emergency.gif" %}"></td>
            {% endifequal %}
            {% ifequal event.severity "C" %}
            <td class="danger text-center" width="3%" align="center"><img alt="C" src="{% static "isiman/images/Critical.gif" %}"></td>
            {% endifequal %}
            {% ifequal event.severity "W" %}
            <td class="warning text-center" width="3%" align="center"><img src="{% static "isiman/images/Warning.gif" %}"></td>
            {% endifequal %}
            {% ifequal event.severity "I" %}
            <td class="success text-center" width="3%" align="center"><img src="{% static "isiman/images/Information.gif" %}"></td>
            {% endifequal %}
            <td>{{ event.message }}</td>
            <td width="7%">Node {{ event.node_lnn }}</td>
            <td width="6%">
              <!-- <a href="#">Quiet</a> | <a href="#">Cancel</a> -->
              <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" disabled="true">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Quiet</a></li>
                  <li><a href="#">Cancel</a></li>
                </ul>
              </div>
            </td>
            <td width="10%">{{ event.modified_at|age }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="jumbotron">
      <h2>There are no Events ongoing</h2>
    </div>
    {% endif %}
  </div>
  <div id="snapshot" class="tab-pane fade">
    <h3></h3>
    {% if cluster.snapshots_set.all %}
    <div class="dataTables_wrapper form-inline table-responsive" role="grid">
      <table class="table table-condensed table-hover" id="snapdatatables">
        <thead>
          <tr>
            <th>Created</th>
            <th>Name</th>
            <th>Path</th>
            <th>Size</th>
            <th>Expires</th>
            <th></th>
            <th>Last update</th>
          </tr>
        </thead>
        <tbody>
            {% for snapshot in cluster.snapshots_set.all %}
            <tr>
              <td>{{ snapshot.created|date:"d/m/Y H:i:s" }}</td>
              <td>{{ snapshot.name }}</td>
              <td>{{ snapshot.path }}</td>
              <td>{{ snapshot.size|filesizeformat }}</td>
              <td>{{ snapshot.expires|date:"d/m/Y H:i:s" }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" disabled="true">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                   <li><a data-toggle="modal" data-target="#snapshotview" href="snapshotview">View</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
               </td>
              <td width="10%">{{ snapshot.modified_at|age }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="jumbotron">
      <h2>There are no Snapshots available</h2>
    </div>
    {% endif %}
  </div>
</div>
<!-- Snapview Modal -->
<div class="modal fade" id="snapshotview" tabindex="-1" role="dialog" aria-labelledby="snapshotview" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="snapshotview">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% block script %}
<script type="text/javascript" charset="utf-8">
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
$(document).ready(function() {
  $('#nodesdatatables').dataTable({
    "aLengthMenu": [[ 10, 20, 50, -1 ], [ 10, 20, 50, "All" ]],
    "order": [[ 2, "asc" ]]
  });
  }
);
$(document).ready(function() {
  $('#snapdatatables').dataTable({
    "aLengthMenu": [[ 10, 20, 50, -1 ], [ 10, 20, 50, "All" ]],
    "order": [[ 0, "desc" ]],
    "aoColumns": [
                null,
                null,
                null,
                { "sType": "file-size" },
                null,
                null,
                null,
                ]
  });
  }
);
$(document).ready(function() {
  $('#eventsdatatables').dataTable({
    "aLengthMenu": [[ 10, 20, 50, -1 ], [ 10, 20, 50, "All" ]],
    "order": [[ 1, "desc" ]],
    "columnDefs": [
       { type: 'alt-string', targets: 1 }
     ]
  });
  }
);
function bytes(bytes, label) {
  if (bytes == 0) return '';
    var s = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB'];
    var e = Math.floor(Math.log(bytes)/Math.log(1024));
    var value = ((bytes/Math.pow(1024, Math.floor(e))).toFixed(2));
    e = (e<0) ? (-e) : e;
  if (label) value += ' ' + s[e];
    return value;
};

$(function () {
  $('#smartpoolgraph').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'SmartPools'
    },
    subtitle: {
      text: 'Current Capacity Usage'
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: [
        {% for smartpool in cluster.smartpools_set.all %}
        '{{ smartpool.name }}',
        {% endfor %}
      ]
    },
    yAxis: {
      min: 0,
      title: {
        text: '% Used Space',
      },
    },
    tooltip: {
      enabled: true,
      formatter: function() { return ' ' +
        '% Used: ' + this.y + '%' + '<br />' + 'Used: ' + bytes(this.point.percent, true) + '<br />' + '<br />' + 'Size: ' + bytes(this.point.totalsize, true);
      }
    },
    series: [{
      name: 'SSD',
      color: '#FFAC62',
      data: [ 
        {% for smartpool in cluster.smartpools_set.all %}
        {
          y: {{ smartpool.ssd_used|percentage:smartpool.ssd_size }},
          percent: {{ smartpool.ssd_used }},
          totalsize: {{ smartpool.ssd_size }},
        },
        {% endfor %}
      ]
    },
    {
      name: 'HDD',
      color: '#005D9C',
      data: [ 
        {% for smartpool in cluster.smartpools_set.all %}
        {
          y: {{ smartpool.hdd_used|percentage:smartpool.hdd_size }},
          percent: {{ smartpool.hdd_used }},
          totalsize: {{ smartpool.hdd_size }},
        },
        {% endfor %}
      ]
    }]
  });
});
$(function () {
  $('#clientconngraph').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Client Connections'
    },
    subtitle: {
      text: 'Current Connections'
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: [
        {% for node in cluster.nodes_set.all %}
        {{ node.lnn }},
        {% endfor %}
      ]
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Connection Count'
      }
    },
    tooltip: {
      enabled: true,
      formatter: function() {
        return ' ' + 'Connections: ' + this.y;
      }
    },      
    series: [{
      name: 'Connections per Node',
      color: '#005D9C',
      data: [
        {% for node in cluster.nodes_set.all %}
        {{ node.client_conn }},
        {% endfor %}
      ]
    }],
  });
});
$(function () {
  $(document).ready(function () {
    $('#totalspacegraph').highcharts({
      chart: {
        type: 'pie',
      },
      credits: {
        enabled: false
      },
      title: {
        text:'Space Consumption'
      },
      tooltip: {
        enabled: true,
        formatter: function() { return bytes(this.y, true);
        }
      },
      plotOptions: {
        pie: {
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          },
          showInLegend: true,
        },
      },
      series: [{
        data: [
          {
            name: 'Used',
            y: {{ smartpools_hdd_used.total }},
            color: '#FFAC62'
          },
          {
            name: 'Avail',
            y: {{ smartpools_hdd_size.total|sub:smartpools_hdd_used.total }},
            color: '#59955C'
          },
        ]
      }]
    });
  });
});
$(function() {
  var chart = new Highcharts.Chart({
  chart: {
    renderTo: 'cpugraph',
      type: 'pie'
    },
    title: {
      text: 'CPU Utilization'
    },
    credits: {
      enabled: false
    },
    tooltip: {
      enabled: true,
        formatter: function() { return this.y + '%';
        }
      // pointFormat: '<b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        cursor: 'pointer',
        innerSize: '70%',
        dataLabels: {
          enabled: false
        },
        showInLegend: true,
      }
    },
    series: [{
      data: [
        {
          name: 'Usage',
          y: {{ cluster.cpu_usage }},
          color: '#FFAC62'
        },
        {
          name: 'Idle',
          y: {{ 100|sub:cluster.cpu_usage }},
          color: '#59955C'
        },
      ]
    }]
  },
                                 
function(chart) {
  var xpos = '50%';
  var ypos = '50%';
  {% if cluster.cpu_usage < 10 %}
  chart.renderer.text( '{{ cluster.cpu_usage }}%' , 109, 151).css({
  {% else %}
  chart.renderer.text( '{{ cluster.cpu_usage }}%' , 100, 151).css({
  {% endif %}
  color: '#FF9C42',
  fontSize: '30px',
}).add();
});
});
</script>
{% endblock %}
{% endblock %}