{% extends "base.html" %}
{% load isimantags %}
{% load staticfiles %}
{% block title %} IsiMan | Jobs {% endblock %}
{% block content %}
<div class="breadcrumb">
  <li class="active">IsiMan</li>
  <li>Jobs</li>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="dataTables_wrapper form-inline" role="grid">
      <table class="table table-condensed table-hover" id="jobsdatatables">
        <thead>
          <tr>
            <th>Cluster</th>
            <th>State</th>
            <th>Job</th>
            <th>Prio</th>
            <th>Policy</th>
            <th>Progress</th>
            <th></th>
            <th>Elapsed time</th>
            <th>Last update</th>
          </tr>
        </thead>
        <tbody>
            {% for cluster in clusters %}
            {% for job in cluster.jobs_set.all %}
            <tr>
              <td width="12%">{{ cluster.name }}</td>
              {% if "Running" in job.state %}
              <td class="success text-center"><img src="{% static "isiman/images/Information.gif" %}"></td>
              {% else %}
              <td class="warning text-center"><img src="{% static "isiman/images/Warning.gif" %}"></td>
              {% endif %}
              <td><strong>{{ job.name }}</strong></td>
              <td class="text-center">{{ job.priority }}</td>
              <td>{{ job.policy }}</td>
              <td>{{ job.progress }}</td>
              <td width="5%">
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" disabled="true">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Pause</a></li>
                    <li><a href="#">Update</a></li>
                    <li><a href="#">Cancel</a></li>
                  </ul>
                </div>
              </td>
              <td width="10%">{{ job.running_time }}</td>
              <td width="10%">{{ job.modified_at|age }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<div>
{% block script %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('#jobsdatatables').dataTable({
    "aLengthMenu": [[ 10, 20, 50, -1 ], [ 10, 20, 50, "All" ]],
    "order": [[ 1, "asc" ]],
    "columnDefs": [
       { type: 'alt-string', targets: 1 }
     ]
  });
  }
);
</script>
{% endblock %}
{% endblock %}